<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- this ejs file has no Css of it's own code is reused from given CSS files -->
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/userDashboard.css">

    

    <title>Document</title>
</head>
<body>
    <!-- adding navbar -->
    <header>      
        <%- include('./partials/usernavbar.ejs')%>
     </header>

<!-- user info constiner HTML -->
<section class="userInfoSection">

   
    <div class="upperportion">
        <div class="left">
            <div class="content">
                <img src="./images/user.png" alt="">
                
            </div>
        </div>
        <div class="right">
            <!-- user Data -->
            <h2><%=userData.firstName%> <%=userData.lastName%> </h2>
                <h2><%=userData.mobileNum%></h2>

        </div>
    </div>
    <hr>
</section>



<!-- post Container -->
<%if(typeof postData != 'undefined') { %>
    <section class="postContainer">
        
        <div class="postInfoContainer">

            <%postData.forEach(element => { %>
        
                <div class="post">
                    
                    <div class="left">
                        <h2>Item Name &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;=> </h2>
                        <h2>Item Location &nbsp;&nbsp;&emsp; &emsp;&emsp;&emsp;&emsp;=></h2>
                        <h2>Item Date &nbsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;=></h2>
                        <h2>status &emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;=></h2>
                        <h2>Contact &nbsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;=></h2>
                        
                    </div>
        
                    <div class="right">
                        <h2> <%=element.itemName%></h2>
                        <h2> <%=element.itemLocation%></h2>
                        <h2> <%=element.itemDate%></h2>
                        <h2><%=element.status%></h2>
                        <h2><%=element.mobileNum%></h2>

                    </div>
                    <h2 class="textheading">Item Image</h2>
                    <div class="itemImage">
                        
                        <img src="./uploads/<%=element.itemImage%>" alt="image missing">

                    </div>
                    <!-- delete btn HTML -->
                    <div class="deleteBtn">
                        <form action="/delete/<%=element._id%>" method="POST">
                            <input type="submit" value="Delete Item">
                        </form>
                    </div>

        </div>  
        <%})%>
        </div>
    </section>
    <%}%> 

</body>
</html>

